#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
}

.logo-img {
  width: 150px;
}

#links a {
  color: #000;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}

#outer {
  background-color: #f0f0f0;
  margin-top: 10px;
  /* background-color: yellow; */
  height: 300px auto;
  width: 25%;
}
#outer:hover {
  border: 2px solid grey;
  cursor: pointer;
}

.outer-img {
  width: 100%;
}

.info {
  padding: 5px 20px;
}

.info h4 {
  color: grey;
}

#res-grids {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
